# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.output
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# compiler
llama
lexer.cpp
parser.cpp
parser.hpp

# llamac
llamac-4.08.1

# vscode
.vscode

# output file
a.txt

# output files of each examples folder [for diff]
compiler/examples/firstOccurance/*.txt
compiler/examples/multipleSemErrors/*.txt
compiler/examples/semCorrect/other/*.txt
compiler/examples/semCorrect/types/*.txt
compiler/examples/typeMismatch/*.txt
compiler/examples/warnings/*.txt